[submodule "examples/default"]
	path = examples/default
	url = https://github.com/quanttide/quanttide-laboratory-of-economic-modeling.git
[submodule "docs/essay"]
	path = docs/essay
	url = https://github.com/quanttide/quanttide-essay-of-economic-modeling.git
[submodule "data/journal"]
	path = data/journal
	url = https://github.com/quanttide/quanttide-journal-of-economic-modeling.git
	branch = main
[submodule "data/profile"]
	path = data/profile
	url = https://github.com/quanttide/quanttide-profile-of-economic-modeling.git
	branch = main
[submodule "data/brochure"]
	path = data/brochure
	url = https://github.com/quanttide/quanttide-brochure-of-economic-modeling.git
	branch = main
[submodule "data/context"]
	path = data/context
	url = https://github.com/quanttide/quanttide-context-of-economic-modeling.git
	branch = main
